
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* @ViewData["d1"]
@ViewData["d2"]
@ViewData["d3"]
@* @ViewData["d4"] *@

@* @{
foreach (var item in (string[]) ViewData["d4"])
{
    
    @item
}} *@ 

@ViewBag.d1